* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Times New Roman', Times, serif;
  font-size: 16px;
}

html,
body {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

/**navbar and hero-section start*/

/**navbar and hero-section ending*/

/**our story section start*/

/**our story section ending*/

/**watch section start*/

/**watch section ending*/

/**Expertise section start*/

.expertise {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 30rem;
  gap: 30px;
}

.expertise-heading {
  text-align: center;
  margin-top: 20px;
}

.expertise-items-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 20%;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.expertise-item {
}

/**Expertise section ending*/

/**team section start*/

/**team section ending*/

/**contact-client section start*/

/**contact-client section ending*/

/**footer start*/
.footer-container {
  background-image: url('./images/bgk-footer.png');
  display: flex;
  gap: 3rem;
  padding: 70px 20rem;
  color: white;
}
.footer-container h5 {
  margin-bottom: 2rem;
}

.content-container {
  display: flex;
  flex-direction: column;
}

.footer-top {
  display: flex;
  justify-content: space-around;
  border: 1px solid black;
  margin-bottom: 3rem;
}

.footer-about-container {
  display: flex;
  flex-direction: column;
}

.ourstudio-container {
  display: flex;
  flex-direction: column;
}

.footer-address-container {
  display: flex;
}

.footer-phone-container {
  display: flex;
  margin-top: 1rem;
}

.stayintouch {
}

.footer-bottom {
  display: flex;
  justify-content: space-around;
}

/**footer ending*/
