* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Times New Roman', Times, serif;
  font-size: 16px;
}

html,
body {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

/**navbar and hero-section start*/
#header-container {
  position: relative;
  background-image: url("./images/bgk-header.png");
  background-position: center;
  background-size: cover;
  min-width: 100%;
  min-height: 100%;
}

#nav-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: white; 
}

.left-nav {
  display: flex;
  padding-top: 10px;
  font-size: 24px;
}

.left-nav p {
  font-size: 40px;
  padding-left: 10px;
}

.left-nav p {
  color: rgb(8, 160, 160);
}


.right-nav {
  margin: 5px 0 0;
  font-size: 16px;
}

ul {
  display: flex;
  justify-content: center;
  list-style: none;
  margin: 10px 0 0;
}

li a {
  text-decoration: none;
  font-size: 16px;
  margin: 0 10px;
  color: white;
}

#home {
  color: rgb(8, 160, 160);
}

#hero-section  {
  display: flex;
  align-items: center;
  flex-direction: column;
  color: white;
  align-items: center;   
}

#hero-section h1 {
  padding: 200px 320px 0px 300px;
  font-size: 40px;
}
  
#hero-section p {
  text-align: center;
  padding: 45px 300px 50px 300px;
  font-size: 20px;
}
.btn-button {
  border: 2px solid  rgb(8, 160, 160);
  color: rgb(8, 160, 160);
  padding: 12px 20px;
  text-align: center;
  text-decoration: none;
  display: block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

/**navbar and hero-section ending*/

/**our story section start*/ 
#our_story{
    display: flex;
    height: 20rem;
    justify-content: space-evenly;
    align-items: center;
}


.story_header{
  font-size: 22px;
}

.logo_story{
    max-width: 10%;
    height: 100px
}

.storyparent{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 50%;
    height:100%;
    margin-top: 1%;
    margin-bottom: 1%;
}



.storyparent h1{
    font-family: 'Playfair Display';
}

.story1{
    font-family: 'Roboto', sans-serif;;
}

.button_learn{
    font-family:'Hammersmith One', sans-serif;
    color: #00e0d0;
    background-color: white;
    border: solid 1px #00e0d0;
    width: 10rem;
}
/**our story section ending*/ 

/**watch section start*/
#watch{
  display: flex;
  min-height: 30rem;
  border:solid;
  justify-content: center;
  align-items: center;
}

.middle{
  width:100%;
}

.play_icon{
  position:absolute;
  color: white;
  display: flex;
  flex-direction: column;
}

/**watch section ending*/

/**Expertise section start*/

#expertise {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 40rem;
  gap: 30px;
}

.expertise-heading {
  text-align: center;
}

.expertise-items-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 20%;
  justify-content: center;
  align-items: center;

  text-align: center;
}

.expertise-item h2 {
  margin: 20px;
}

/**Expertise section ending*/

/**team section start*/

/**team section ending*/

/**contact-client section start*/

/**contact-client section ending*/

/**footer start*/

/**footer ending*/
