*{
    border: none;
    margin: none;
    box-sizing: border-box;
}

/**navbar and hero-section start*/ 

/**navbar and hero-section ending*/ 

/**our story section start*/ 
#our_story{
    display: flex;
    min-height: 100px;
    justify-content: space-evenly;
    border:solid;
    align-items: center;
}

.logo_story{
    max-width: 10%;
    height: 100px
}

.storyparent{
    width: 50%;
    height:100%;
    margin-top: 1%;
    margin-bottom: 1%;
}

.storyparent h1{
    font-family: 'Playfair Display';
}

.story1{
    font-family: 'Roboto', sans-serif;;
}

.button_learn{
    font-family:'Hammersmith One', sans-serif;
    color: #00e0d0;
    background-color: white;
    border: solid 1px #00e0d0;
}
/**our story section ending*/ 

/**watch section start*/ 

/**watch section ending*/ 

/**Expert section start*/

/**Expert section ending*/

/**team section start*/ 

/**team section ending*/ 

/**contact-client section start*/ 

/**contact-client section ending*/ 

/**footer start*/ 

/**footer ending*/ 
